body {
  margin: auto;
  padding: 0;
  font-family: "Lora", serif;
}

header h1 {
  font-size: 60px;
  text-align: center;
  font-style: italic;
}

.container-info ul li {
  list-style: none;
  text-align: center;
  font-size: 30px;
}

.container-info h3 {
  margin-top: 10%;
  font-size: 40px;
  text-align: center;
  font-style: italic;
}
